.app {
  text-align: center;
}

.app > img {
  object-fit: contain;
  height: 300px;
}

.app > h2 {
  padding: 10px;
}

.app-form {
  position: fixed;
  bottom: 0px;
  padding: 20px;
  z-index: 1;
  background: #e9e9eb;
  width: 100%;
}
