.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}

.message-user {
  margin-left: auto;
  color: white;
  text-align: right !important;
}

.message-usercard {
  background-color: #0b81ff !important;
}

.message-guestcard {
  background-color: #e9e9eb !important;
}
